.dt-width-observer {
    width: 100%;
    height: 0px;
}

.datatable-container {
    height: 100%;
    position: relative;
}

.datatable-scrollable-x-container {
    height: 100%;
}

.datatable-table {
    table-layout: fixed;
}
